.UserDeposit{
    height: 700px;
    position: relative;
    .position--button{
        margin-bottom: 70px;
    }
    .des{
        text-align: center;
        font-size: 11px;
        color: #EAB63E;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .subdes{
        text-align: center;
        font-size: 11px;
        color: #0C95F8;
        margin-bottom: 30px;
    }
    .line{
        position: relative;
        left: 81%;
    }
    .mainnav2{
        padding: 10px 10px;
        padding-bottom: 0px;
        .button{
            font-size: 20px;
            background-color: #eab63ebc;
            padding: 5px 8px;
            border-radius: 5px;
            border: 1px solid #EAB63E;
            cursor: pointer;
            &:hover{
                background-color: #eab63e00;
            }
            }
            .swapfrom--container , .swapto--container{
                margin-top: 30px;
                .swapfrom--text{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    color: #ECBF40;
                    font-weight: 300;
                    margin-bottom: 10px;
                    .de{
                        font-size: 11px;
                        color: #ff0000;
                        margin-left: 5px;
                    }
                }
                width: 100%;
                .swapfrom--box{
                    display: flex;
                    justify-content: space-between;
                    border: solid 1px #fff;
                    border-radius: 6px;
                    align-items: center;
                    padding: 15px 10px;
                    
                    input{
                        font-size: 25px;
                        width: 150px;
                        background-color: #0c96f800;
                        border: none;
                        color: #fff;
                        &:focus{
                            outline: none;
                        }
                    }
                    .box--button{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                    }
                }
            }
            .swapto--container{
                margin-top: 10px;
                .box--swapto{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                }
            }
        }}