.container{
    position: relative;
    height: 700px;
    .position--button{
        display: none;
    }
    .line{
        position: relative;
        left: 81%;
    }
    .component{

        font-size: 14px;
        padding-left: 10px;
        .subTitle-1{
            margin-top: 80px;
            margin-bottom: 20px;
            font-size: 20px;
            color: #ecbf04;
        }
        .SubTitle{
            font-size: 20px;
            color: #ecbf04;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .FinalContent-2{
            font-size: 20px;
        }
    }
    .de{
        font-size: 11px;
        color: #ecbf04;
        text-align: center;
        margin-top: 110px;
    }
    .buttton{
        display: flex;
        justify-content: center;
        .button{
            cursor: pointer;
            width: 132px;
            height: 36px;
            background-color: #EAB63E;
            display: flex;
            border: 1px solid #EAB63E;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-top: 20px;
            &:hover{
                background-color: #eab63e00;

            }
        }
    }
}